<html>

<head>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/report.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/report.css') }}">
    <title>Transaction Report Analysis</title>
</head>

<body>
    <div class="report">
        <div>
            <h2>Raw Dataframe</h2>
            <p>The raw dataframe read from the chosen report file is as follows:</p>
            {{ df_raw|safe }}
        </div>
        <div>
            <h2>Unprocessed Rows</h2>
            <p>After processing the transaction records from the raw dataframe, the rows that do not represent a trade
                are removed from
                the dataframe. The following table shows these exceptional rows.</p>
            {{ df_exceptional|safe }}
        </div>
        <div>
            <h2>Processed Dataframe</h2>
            <p>The head of the final processed dataframe is as follows. This dataframe will be used for further
                analysis.</p>
            {{ df|safe }}
            <p>
                So far, we have all the trades in a clean processed format.
            </p>
            <p>
                However, for the sake of analysis, we need to find the trades that are unsettled and remove them from
                our dataframe. The unsettled trades may exist for a handful of reasons, such as the account's
                portfolio prior to the report's start date and the account's remaining asset after the report's
                finishing date. To this end, we will construct a daily portfolio from the available transactions and
                find the ones remaining in the end. Afterwards, we will find the last date when each of these
                instruments were settled, and we will finally remove all the transactions from these unsettled
                instruments after the aforementioned dates.
            </p>
            <p>
                The instruments that are going to be excluded and the last date when each of them was settled is as
                follows.
            </p>
            <div class="df-table-mini-wrapper">
                {{ df_excluded_instruments|safe }}
            </div>
            <p>
                We had a total of <b>{{ report.len_transactions_processed }}</b> processed transactions, of which <b>{{
                    report.len_transactions_unsettled }}</b> were unsettled. Hence, after droping the unsettled records,
                a total of <b>{{
                    report.len_transactions_settled }}</b> transactions remain, of which <b>{{ report.buyNum }}</b> are
                on the buy side and <b>{{ report.sellNum }}</b> are on the sell side.
            </p>
        </div>
        <div>
            <h2>Trade Summary</h2>
            <p>
                Taking into account only the settled transactions, the following results are concluded for the time
                period from <b>{{ report.StartingDate }}</b> to <b>{{ report.FinishingDate }}</b>:
            </p>
            <p>
                Trade volume on the buy side: <b>{{ '{:,}'.format(report.buySum) }}</b>
                <br />
                Trade volume on the sell side: <b>{{ '{:,}'.format(report.sellSum) }}</b>
                <br />
                Total trade volume on either side: <b>{{ '{:,}'.format(report.sellSum+report.buySum) }}</b>
                <br />
                Net realised profit: <b>{{ '{:,}'.format(report.sellSum-report.buySum) }}</b>
            </p>
            <p>In order to plot the time series charts, we need to calculate the important factors on a daily basis.
                Using the
                following section, you can see the calculated results at the end of each day.</p>
            <form action="/action_page.php">
                <select name="daily_data" id="daily_data" onchange="dailyDataChange()">
                    <option disabled selected value> -- select a date -- </option>
                    {% for date in report.dailyData.keys() %}
                    <option value="{{ date }}">{{ date }}</option>
                    {% endfor %}
                </select>
            </form>
            <div id="daily_data_result"></div>
        </div>
        <div>
            <h2>Plots Section</h2>
            <p>
                In order to plot the profit charts, we need the initial investment value to calculate profits in
                percentages and to plot index returns as a benchmark. Therefore, you can either use the default value
                provided in the following box, or change this input and use the amount you know was invested in this
                account prior to the transactions. The default value is calculated by subtracting the cumulated profits
                from the net value of unsettled positions on each day, and taking the max between days.
            </p>
            <label for="initialInvestment">Initial Investment:</label>
            <input type="text" id="initialInvestment" name="initialInvestment" value="{{ report.InitialInvestment }}">
            <input type="submit" value="Plot" onclick="chartPlotAll()">
            <div id="plots_section"></div>
            <div id="profitHistogram">
                <p>By giving the value of window size, the histogram of realized profits in periods spanning "Window
                    Size" days will be plotted.</p>
                <label for="initialInvestment">Window Size:</label>
                <input type="text" id="profitHistogramWindowSize" name="profitHistogramWindowSize" value="7">
                <input type="submit" value="Plot" onclick="chartPlotProfitHistogram()">
            </div>
            <div id="profit_histogram_plot_section"></div>
        </div>
    </div>
</body>

</html>